<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Rover Coding Project{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/rover.css" />
    <link rel="stylesheet" type="text/css" href="static/tablesorter/themes/blue/style.css"  />
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="static/tablesorter/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="static/rover-jquery.js"></script>
    <div id="content">
        {% block content %}
            <h2 class="sub-header">List of Sitters</h2>
            <br/>
            &nbsp;
            <div id="menu">
                {% block sidebar %}
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select minimum rank <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            {%  for rank in rank_range %}
                                <li><a tabindex="{{ rank }}" href="#">{{ rank }}</a></li>
                            {% endfor %}
                        </ul>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
                {% endblock %}
            </div>
            <table class="table table-striped tablesorter" id="table">
                <thead>
                    <tr>
                        <th>
                            name
                        </th>
                        <th>
                            photo
                        </th>
                        <th class=\"{sorter:'digit'}\">
                            average of stay ratings
                        </th>
                        <th class=\"{sorter:'digit'}\" style="display:none;">
                            sitter rank
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for sitter in sitters %}
                        <tr id="item" class="item" value="{{ sitter.rating }}">
                            <td>{{ sitter.first_name }} {{ sitter.last_name }}</td>
                            <td><img src="{{ sitter.image }}" width="50" height="50" /></td>
                            <td >{{ sitter.rating }}</td>
                            <td class="id" style="display:none;" value="{{ sitter|calculate_sitter_rank }}">{{ sitter|calculate_sitter_rank }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    </div>
</body>
</html>