body {
padding-left: 20px;
padding-right: 20px;
}

.input-append .btn.dropdown-toggle {
    float: none;
}

.dropdown-menu {
  width: 50px;
}

.btn{
 width: 200px;
}

.input-group {
  width: 200px
}

